<!-- <div class=" content"> -->
    <div class=" header text-center" *ngIf="!!job"><h3 class=" title">Job Description</h3></div>
    <div class=" row animate__animated animate__fadeIn">
      
      <div class=" col-md-9 ml-auto mr-auto">
        
        <div class=" card card-user border-blockcolor">
          
          <div class=" card-body">

            <p class=" card-text"></p>

            <div class=" author">
              <div class=" block block-one"></div>
              <div class=" block block-two"></div>
              <div class=" block block-three"></div>
              <div class=" block block-four"></div>

            <h1 class="display-4">{{job.Title}}</h1><button class="btn btn-primary btn-sm btn-simple" (click)="editJob(job)">Edit</button>
            
            </div>

            <div class="card-description">

              <div class="row">

                <div class="col-sm-4 ml-auto mr-auto">
                  <h4 *ngIf="!!job.Enterprise" ><strong>Enterprise:</strong><span class="text-primary">&nbsp;{{job.Enterprise}}</span></h4>
                  <h4 *ngIf="!!job.Place"><strong>Place:</strong><span class="text-primary">&nbsp;{{job.Place}}</span></h4>
                  <h4 *ngIf="!!job.Contract"><strong>Contract:</strong><span class="text-primary">&nbsp;{{job.Contract}}</span></h4>
                  <h4 *ngIf="!!job.Seniority"><strong>Seniority:</strong><span class="text-primary">&nbsp;{{job.Seniority}}</span></h4>
                  <h4 *ngIf="!!job.Salary"><strong>Salary:</strong>&nbsp;<span class="text-success">${{job.Salary}}</span></h4>
                </div>
  
                <div class="col-sm-4 ml-auto mr-auto">
                  <h4 class="text"> <strong>Skills/Knowledges</strong></h4>
                  <ul>
                    <li *ngFor="let skill of skills"><h5 class="text-danger">{{skill}}</h5></li>
                  </ul>
                </div>

              </div>

            </div>
            
            <div *ngIf="!!job.Description" class="col-md-6 mt-3 ml-auto mr-auto">
              <h4 class="text-center"> <strong>Description</strong></h4>
              <p class="text-center">{{job.Description}}</p>
            </div>
            
          </div>
          
          <div class=" card-footer">

            <div class=" button-container">
              
              <div class="row">

                <div class="col-md-4">
                  
                </div>

                <div class="col-md-4 mb-3 ml-auto mr-auto">
                
                  <div class=" col-md-1 col-sm-1">

                    <button class="btn btn-icon btn-simple btn-linkedin">
                      <i class=" fab fa-linkedin"> </i>
                    </button>

                  </div>
  
                </div>

                <div class="col-md-4 mt-3 justify-content-end">

                  <button [routerLink]="['/jobs']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm float-right"> <strong><i class="tim-icons icon-double-left"> </i></strong> Back</button>
  
                </div>

              </div>

              

            </div>

          </div>

        </div>
        
      </div>

    </div>
  <!-- </div> -->
  