<!-- <div class=" content"> -->
    <div class=" header text-center" *ngIf="!!job"><h3 class=" title">Job Description</h3></div>
    <div class=" row animate__animated animate__fadeIn">
      
      <div class=" col-md-9 ml-auto mr-auto">
        
        <div class=" card card-user border-blockcolor">
          
          <div class=" card-body">

            <p class=" card-text"></p>

            <div class=" author">
              <div class=" block block-one"></div>
              <div class=" block block-two"></div>
              <div class=" block block-three"></div>
              <div class=" block block-four"></div>

            <h1 class="display-4">{{job.Title}}</h1>
            
            </div>

            <div class="card-description">

              <div class="row">

                <div class="col-sm-4 ml-auto mr-auto">
                  <h4 *ngIf="!!job.Enterprise" ><strong>Enterprise:</strong><span class="text-primary">&nbsp;{{job.Enterprise}}</span></h4>
                  <h4 *ngIf="!!job.Place"><strong>Place:</strong><span class="text-primary">&nbsp;{{job.Place}}</span></h4>
                  <h4 *ngIf="!!job.Contract"><strong>Contract:</strong><span class="text-primary">&nbsp;{{job.Contract}}</span></h4>
                  <h4 *ngIf="!!job.Seniority"><strong>Seniority:</strong><span class="text-primary">&nbsp;{{job.Seniority}}</span></h4>
                  <h4 *ngIf="!!job.Salary"><strong>Salary:</strong>&nbsp;<span class="text-success">${{job.Salary}}</span></h4>
                </div>
  
                <div class="col-sm-4 ml-auto mr-auto">
                  <h4 class="text"> <strong>Skills/Knowledges</strong></h4>
                  <ul>
                    <li *ngFor="let skill of skills"><h5 class="text-danger">{{skill}}</h5></li>
                  </ul>
                </div>

              </div>

            </div>
            
            <div *ngIf="!!job.Description" class="col-md-6 mt-3 ml-auto mr-auto">
              <h4 class="text-center"> <strong>Description</strong></h4>
              <p class="text-center">{{job.Description}}</p>
            </div>
            
          </div>
          
          <div class=" card-footer">

            <div class=" button-container">
              
              <div class="row">

                <div class="col-md-4  mt-3 ">
                  <button (click)="myModal.show()" class="btn btn-neutral btn-sm float-left"> Apply </button>
                </div>

                <div class="col-md-4 mb-3 ml-auto mr-auto">
                
                  <div class=" col-md-1 col-sm-1">

                    <button class="btn btn-icon btn-simple btn-linkedin">
                      <i class=" fab fa-linkedin"> </i>
                    </button>

                  </div>
  
                </div>

                <div class="col-md-4 mt-3 justify-content-end">

                  <button [routerLink]="['/jobs']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm float-right"> <strong><i class="tim-icons icon-double-left"> </i></strong> Back</button>
  
                </div>

              </div>

            </div>

          </div>

        </div>
        
      </div>

    </div>
  <!-- </div> -->
  
  <div
    bsModal
    class="modal modal-black fade"
    #myModal="bs-modal"
    id="myModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()"
          >
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <h4 class="title title-up">Apply now</h4>
        </div>
        
        <form [formGroup]="applyForm" class="form" (ngSubmit)="onApply()">
          <div class="modal-body justify-content-center">

            <div
              class=" input-group"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
              >
              <div class=" input-group-prepend">
                <div class=" input-group-text">
                  <i class=" tim-icons icon-single-02"> </i>
                </div>
              </div>
              <input
                class=" form-control"
                placeholder="First Name"
                type="text"
                (blur)="focus2 = false"
                (focus)="focus2 = true"
                formControlName="FirstName"
                [class.is-invalid]="(f.FirstName.invalid) && (f.FirstName.dirty || f.FirstName.touched)"
                [class.is-valid]="(!f.FirstName.invalid) && (f.FirstName.dirty || f.FirstName.touched)"
              />
              <div class="invalid-feedback  animate__animated animate__fadeIn">* This field is required.</div>
            </div>

            <div
            class=" input-group"
            [ngClass]="{ 'input-group-focus': focus3 === true }"
            >
              <div class=" input-group-prepend">
                <div class=" input-group-text">
                  <i class=" tim-icons icon-badge"> </i>
                </div>
              </div>
              <input
                class=" form-control"
                placeholder="Last Name"
                type="text"
                (blur)="focus3 = false"
                (focus)="focus3 = true"
                formControlName="LastName"
                [class.is-invalid]="(f.LastName.invalid) && (f.LastName.dirty || f.LastName.touched)"
                [class.is-valid]="(!f.LastName.invalid) && (f.LastName.dirty || f.LastName.touched)"
              />
              <div class="invalid-feedback  animate__animated animate__fadeIn">* This field is required.</div>
            </div>

            <div class=" input-group has-label" [ngClass]="{'input-group-focus': focus === true}">

              <div class=" input-group-prepend">
                <div class=" input-group-text">
                  <i class=" tim-icons icon-email-85"> </i>
                </div>
              </div>
              
              <input
                class=" form-control"
                placeholder="Email"
                type="text"
                (blur)="focus = false"
                (focus)="focus = true"
                formControlName="Email"
                [class.is-invalid]="(f.Email.invalid) && (f.Email.dirty || f.Email.touched)"
                [class.is-valid]="(!f.Email.invalid) && (f.Email.dirty || f.Email.touched)"
              />
              <div class="invalid-feedback  animate__animated animate__fadeIn">* Please enter a valid Email address.</div>

            </div>

            <div
            class=" input-group"
            [ngClass]="{ 'input-group-focus': focus4 === true }"
            >
              <div class=" input-group-prepend">
                <div class=" input-group-text">
                  <i class=" fab fa-linkedin"> </i>
                </div>
              </div>
              <input
                class=" form-control"
                placeholder="Linkedin"
                type="text"
                (blur)="focus4 = false"
                (focus)="focus4 = true"
                formControlName="LinkedinUrl"
                [class.is-valid]="(!f.LinkedinUrl.invalid) && (f.LinkedinUrl.dirty || f.LinkedinUrl.touched)"
              />
            </div>

            <div
            class=" input-group"
            [ngClass]="{ 'input-group-focus': focus5 === true }"
            >
              <div class=" input-group-prepend">
                <div class=" input-group-text">
                  <i class="tim-icons icon-cloud-upload-94"> </i>
                </div>
              </div>
              <input
                class=" form-control"
                placeholder="Resume"
                type="file"
                (blur)="focus5 = false"
                (focus)="focus5 = true"
                formControlName="Resume"
                (change)="fileChange($event)"
                [class.is-valid]="(!f.Resume.invalid) && (f.Resume.dirty || f.Resume.touched)"
              />
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-sm btn" [disabled]="applyForm.invalid" (click)="myModal.hide()" type="submit">Send</button>
            <button class="btn btn-danger btn-sm btn-simple" data-dismiss="modal" type="button" (click)="myModal.hide()">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
