<app-auth-navbar></app-auth-navbar>
<div class="full-page login-page ">
    <div class=" content">
      <div class=" container">
        <div class=" col-lg-6 col-md-8 ml-auto mr-auto animate__animated animate__fadeIn">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class=" form">
            <div class=" card card-login card-white border">
              <div class=" card-header">
                <img alt="" src="assets/img/card-primary.png" />
  
                <h3 class=" card-title">Reset password</h3>
              </div>
              <div class=" card-body">
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Email"
                    type="text"
                    (blur)="focus = false"
                    (focus)="focus = true"
                    formControlName="email"
                    [class.is-invalid]="(f.email.invalid) && (f.email.dirty || f.email.touched)"
                    [class.is-valid]="(!f.email.invalid) && (f.email.dirty || f.email.touched)"
                  />
                  <div class="invalid-feedback  animate__animated animate__fadeIn">* Please enter a valid email address.</div>
                </div>
              </div>
              <div class=" card-footer">
                <button 
                  [disabled]="passwordForm.invalid"
                  class="btn btn-primary btn-lg btn-block animation-on-hover mb-3" type="submit">
                  Submit
                </button>
                <div class=" pull-left">
                  <h6>
                    <a class=" link footer-link" [routerLink]="['/register']" routerLinkActive="router-link-active"  href="javascript:void(0)">
                      Create Account
                    </a>
                  </h6>
                </div>
                <div class=" pull-right">
                  <h6>
                    <a class=" link footer-link" [routerLink]="['/login']" routerLinkActive="router-link-active"  href="javascript:void(0)">
                      Login
                    </a>
                  </h6>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  