<div class="full-page login-page ">
    <div class=" content">
      <div class=" container">
        <div class=" col-lg-6 col-md-8 ml-auto mr-auto animate__animated animate__fadeIn">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class=" form">
            <div class=" card card-login card-white border">
              <div class=" card-header">
                <img alt="" src="assets/img/card-primary.png" />
  
                <h3 class=" card-title">forgot password</h3>
              </div>
              <div class=" card-body">
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-key-25"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Password"
                    type="password"
                    (blur)="focus1 = false"
                    (focus)="focus1 = true"
                    formControlName="password"
                    [class.is-invalid]="(f.password.invalid) && (f.password.dirty || f.password.touched)"
                    [class.is-valid]="(!f.password.invalid) && (f.password.dirty || f.password.touched)"
                    />
                  <div class="invalid-feedback  animate__animated animate__fadeIn">* Password must be contains more than 6 characters.</div>

                </div>
              </div>
              <div class="card-footer">
                <button 
                  [disabled]="passwordForm.invalid"
                  class="btn btn-primary btn-lg btn-block animation-on-hover mb-3" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  