a{
    color: #db30c2;
}

a:hover{
    color: #f876f2;
}

.register-page{
    background-color: black;
}

.full-page.pricing-page, .full-page.login-page, .full-page.lock-page, .full-page.register-page{
    background: linear-gradient(#1e1e24, #1e1e24);
}

.border {
    border: 0.1rem solid #e14eca!important;
}

.invalid-feedback {
    color: #E41C00;
}