<div class="row animate__animated animate__fadeIn">
    <div class="col-lg-12">        
        <div class="card border wizard-background ">
            <div class=" content">
                <div class=" col-md-10 mr-auto ml-auto">
                  <h1 class="display-4 text-muted text-center">Create your Job Position</h1>
                  <div class=" wizard-container">
                    <div
                      class="bs-stepper card card-wizard"
                      data-color="red"
                      id="wizardProfile"
                    >
                      <form [formGroup]="formWizard" (ngSubmit)="onSubmit()">
                        <div class="card-header text-center">
                          <div class=" wizard-navigation col-lg-10">
                            <div class=" progress-with-circle">
                              <progressbar class=" progress-bar" [value]="value">
                              </progressbar>
                            </div>
                            <ul class="nav nav-pills nav-pills-danger bs-stepper-header">
                              <li class="step nav-item" data-target="#about">
                                <a
                                  class="step-trigger nav-link active"
                                  [ngClass]="{ checked: checked }"
                                  (click)="
                                    value = 15; $event.preventDefault(); checked = true
                                  "
                                >
                                  <i
                                    class=" tim-icons icon-attach-87"
                                    (click)="checked = true"
                                  >
                                  </i>
                                  <p (click)="checked = true">About</p>
                                </a>
                              </li>
                              <li class="step nav-item" data-target="#account">
                                <a
                                  class="step-trigger nav-link"
                                  [ngClass]="{ checked: checked1 }"
                                  (click)="
                                    value = 50; $event.preventDefault(); checked1 = true
                                  "
                                >
                                  <i
                                    class=" tim-icons icon-bulb-63"
                                    (click)="checked1 = true"
                                  >
                                  </i>
                                  <p (click)="checked1 = true">Knowledges & Skills</p>
                                </a>
                              </li>
                              <li class="step nav-item" data-target="#address">
                                <a
                                  class="step-trigger nav-link"
                                  [ngClass]="{ checked: checked2 }"
                                  (click)="
                                    value = 85; $event.preventDefault(); checked2 = true
                                  "
                                >
                                  <i
                                    class=" tim-icons icon-settings-gear-63"
                                    (click)="checked2 = true"
                                  >
                                  </i>
                                  <p (click)="checked2 = true">Description</p>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="bs-stepper-content card-body">
                          <div class=" tab-content">
                            <div class=" tab-pane show" id="about">
                              <h5 class=" info-text">
                                Let's start with the basic information.
                              </h5>
                              <div class=" row justify-content-center mt-5">
                                <div class=" col-sm-5">
                                  <div
                                    class=" input-group"
                                    [ngClass]="{
                                      'input-group-focus': focus === true,
                                      'has-danger':
                                        ((focusTouched || wizard) &&
                                          wizardFormControls.title.errors) ||
                                        (wizardFormControls.title.value != '' &&
                                          wizardFormControls.title.errors),
                                      'has-success': !wizardFormControls.title.errors
                                    }"
                                  >
                                    <div class=" input-group-prepend">
                                      <div class=" input-group-text">
                                        <i class=" tim-icons icon-single-02"> </i>
                                      </div>
                                    </div>
                                    <input
                                      class=" form-control"
                                      name="title"
                                      placeholder="Job Title..."
                                      type="text"
                                      formControlName="title"
                                      (focus)="focus = true; focusTouched = true"
                                      (blur)="focus = false"
                                    />

                                  </div>
                                  <div
                                    class=" input-group"
                                    [ngClass]="{
                                      'input-group-focus': focus1 === true,
                                      'has-danger':
                                        ((focus1Touched || wizard) &&
                                          wizardFormControls.enterprise.errors) ||
                                        (wizardFormControls.enterprise.value != '' &&
                                          wizardFormControls.enterprise.errors),
                                      'has-success': !wizardFormControls.enterprise.errors
                                    }"
                                  >
                                    <div class=" input-group-prepend">
                                      <div class=" input-group-text">
                                        <i class=" tim-icons icon-laptop"> </i>
                                      </div>
                                    </div>
                                    <input
                                      class=" form-control"
                                      name="enterprise"
                                      placeholder="Enterprise..."
                                      formControlName="enterprise"
                                      type="enterprise"
                                      (focus)="focus1 = true; focus1Touched = true"
                                      (blur)="focus1 = false"
                                    />

                                  </div>
                                  <div
                                  class=" input-group"
                                  [ngClass]="{
                                    'input-group-focus': focus2 === true,
                                    'has-danger':
                                      ((focus2Touched || wizard) &&
                                        wizardFormControls.place.errors) ||
                                      (wizardFormControls.place.value != '' &&
                                        wizardFormControls.place.errors),
                                    'has-success': !wizardFormControls.place.errors
                                  }"
                                >
                                  <div class=" input-group-prepend">
                                    <div class=" input-group-text">
                                      <i class=" tim-icons icon-compass-05"> </i>
                                    </div>
                                  </div>
                                  <input
                                    class=" form-control"
                                    name="place"
                                    formControlName="place"
                                    placeholder="Place..."
                                    type="text"
                                    (focus)="focus2 = true; focus2Touched = true"
                                    (blur)="focus2 = false"
                                  />

                                </div>
                                </div>
                                <div class=" col-sm-5">

                                  <div
                                    class=" input-group"
                                    [ngClass]="{
                                      'input-group-focus': focus3 === true,
                                      'has-danger':
                                        ((focus3Touched || wizard) &&
                                          wizardFormControls.salary.errors) ||
                                        (wizardFormControls.salary.value != '' &&
                                          wizardFormControls.salary.errors),
                                      'has-success': !wizardFormControls.salary.errors
                                    }"
                                  >
                                    <div class=" input-group-prepend">
                                      <div class=" input-group-text">
                                        <i class=" tim-icons icon-money-coins"> </i>
                                      </div>
                                    </div>
                                    <input
                                      class=" form-control"
                                      name="number"
                                      placeholder="Salary..."
                                      formControlName="salary"
                                      type="text"
                                      (focus)="focus3 = true; focus3Touched = true"
                                      (blur)="focus3 = false"
                                      min="0"
                                    />

                                  </div>

                                  <div
                                  class=" input-group"
                                  [ngClass]="{
                                    'input-group-focus': focus4 === true,
                                    'has-danger':
                                      ((focus4Touched || wizard) &&
                                        wizardFormControls.contract.errors) ||
                                      (wizardFormControls.contract.value != '' &&
                                        wizardFormControls.contract.errors),
                                    'has-success': !wizardFormControls.contract.errors
                                  }"
                                >
                                  <div class=" input-group-prepend">
                                    <div class=" input-group-text">
                                      <i class=" tim-icons icon-paper"> </i>
                                    </div>
                                  </div>
                                  <input
                                    class=" form-control"
                                    name="title"
                                    placeholder="Contract..."
                                    type="text"
                                    formControlName="contract"
                                    (focus)="focus4 = true; focus4Touched = true"
                                    (blur)="focus4 = false"
                                  />

                                  </div>

                                  <div
                                  class=" input-group"
                                  [ngClass]="{
                                    'input-group-focus': focus5 === true,
                                    'has-danger':
                                      ((focus5Touched || wizard) &&
                                        wizardFormControls.seniority.errors) ||
                                      (wizardFormControls.seniority.value != '' &&
                                        wizardFormControls.seniority.errors),
                                    'has-success': !wizardFormControls.seniority.errors
                                  }"
                                >
                                  <div class=" input-group-prepend">
                                    <div class=" input-group-text">
                                      <i class=" tim-icons icon-tie-bow"> </i>
                                    </div>
                                  </div>
                                  <input
                                    class=" form-control"
                                    name="title"
                                    placeholder="Seniority..."
                                    type="text"
                                    formControlName="seniority"
                                    (focus)="focus5 = true; focus5Touched = true"
                                    (blur)="focus5 = false"
                                  />

                                  </div>

                                </div>
                                
                              </div>
                            </div>


                            <div class="show tab-pane" id="account">

                              <div class=" row justify-content-center">
                                <div class=" col-sm-12">
                                  <h5 class="info-text">Tell us about the requireds knowledges/skills!</h5>
                                </div>
                                <div class=" col-md-6 mb-4 justify-content-center">
                                  <tag-input formControlName="skills" name="skills" theme="regular-theme">
                                  </tag-input>
                                </div>
                              </div>


                            </div>


                            <div class="show tab-pane " id="address">
                              <div class=" row justify-content-center">
                                <h5 class=" info-text">Ending the post, tell us about the job!</h5>
                                <div class=" col-lg-10 text-center">

                                  <div class="card ">
                                    
                                    <!-- <quill-editor [style]="editorStyle" formControlName="description">
                                      <div quill-editor-toolbar>

                                        <button class="ql-list" value="ordered" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="7" x2="15" y1="9" y2="9"></line> <line class="ql-stroke" x1="7" x2="15" y1="14" y2="14"></line> <line class="ql-stroke ql-thin" x1="2.5" x2="4.5" y1="5.5" y2="5.5"></line> <path class="ql-fill" d="M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z"></path> <path class="ql-stroke ql-thin" d="M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156"></path> <path class="ql-stroke ql-thin" d="M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109"></path> </svg></button>
                                        <button class="ql-list" value="bullet" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="6" x2="15" y1="4" y2="4"></line> <line class="ql-stroke" x1="6" x2="15" y1="9" y2="9"></line> <line class="ql-stroke" x1="6" x2="15" y1="14" y2="14"></line> <line class="ql-stroke" x1="3" x2="3" y1="4" y2="4"></line> <line class="ql-stroke" x1="3" x2="3" y1="9" y2="9"></line> <line class="ql-stroke" x1="3" x2="3" y1="14" y2="14"></line> </svg></button>

                                        <span class="ql-formats">
                                          <button class="ql-bold" [title]="'Bold'"></button>
                                          <button class="ql-italic" [title]="'Italic'"></button>
                                          <button class="ql-underline" [title]="'Underline'"></button>
                                          <button class="ql-code-block" [title]="'Codeblock'"></button>
                                        </span>
                                        
                                        <button class="ql-link" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line> <path class="ql-even ql-stroke" d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path class="ql-even ql-stroke" d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button>
                                        
                                        <span class="ql-formats">
                                          <button class="ql-image" [title]="'Upload imagen'"></button>
                                        </span>

                                      </div>
                                    </quill-editor> -->
                                    <div>
                                      <textarea class=" form-control" cols="80" rows="4" formControlName="description"> </textarea>
                                    </div>
                                    
                                  </div>
                                </div>                    
                              </div>
                            </div>


                          </div>
                        </div>

                        
                        <div class=" card-footer">
                          <div class=" pull-right">
                            <input
                              *ngIf="value < 84"
                              class=" btn btn-next btn-fill btn-primary btn-simple  btn-wd"
                              name="next"
                              type="button"
                              value="Next"
                              (click)="next()"
                            />
              
                            <input
                              *ngIf="value >= 85"
                              class=" btn btn-fill btn-success btn-simple btn-wd"
                              name="finish"
                              type="submit"
                              value="Finish"
                            />
                          </div>
                          <div class=" pull-left">
                            <input 
                              *ngIf="(value > 15)"
                              class=" btn btn-previous btn-fill btn-simple btn-info btn-wd"
                              name="previous"
                              type="button"
                              (click)="previous()"
                              value="Previous"
                            />
                            <input 
                            *ngIf="(value <= 15)"
                            class=" btn btn-previous btn-fill btn-simple btn-info btn-wd"
                            name="previous"
                            type="button"
                            [routerLink]="['/jobs/panel']" routerLinkActive="router-link-active" 
                            value="Previous"
                          />
                          </div>
                          <div class=" clearfix"></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>