<div class="row">
  <div class="col-lg-5 col-md-6">

    <div *ngIf="!!tagLine" class="card card-nav-tabs">
      <div class="card-body border">
        <h2 *ngIf="!!tagLine" class="h1 text-center"><b>{{tagLine}}</b></h2>
        <p *ngIf="!!subTagLine" class="h3 text-center"><b>{{subTagLine}}</b></p>
        <hr>
        <div class="row" *ngIf="!!panel" >
          <div class="col-sm-6">
            <button type="button" [routerLink]="[newJobPath]" *ngIf="!!jobButton" class="btn btn-success btn-sm btn-simple mr-1 btn-block animated fadeIn slow"><i class=" tim-icons icon-check-2 mb-1"></i>&nbsp;&nbsp;New Job Position</button>
          </div>
          <div class="col-sm-6">
            <button type="button" [routerLink]="[newJobPath]" *ngIf="!!editButton" class="btn btn-success btn-sm btn-simple mr-1 btn-block animated fadeIn slow"><i class=" tim-icons icon-check-2 mb-1"></i>&nbsp;&nbsp;Edit Profile</button>
          </div>
        </div>

        <button type="button" *ngIf="!panel" [routerLink]="[newJobPath]" class="btn btn-success btn-sm btn-simple mr-1 btn-block animated fadeIn slow"><i class=" tim-icons icon-check-2 mb-1"></i>&nbsp;&nbsp;New Job Position</button>
        
       
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-6">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class=" breadcrumb border">
        <li class=" breadcrumb-item">
          <a [routerLink]="['/jobs']" routerLinkActive="router-link-active" >
            Home
          </a>
        </li>
        <li aria-current="page" class=" breadcrumb-item active">
          Library
        </li>
      </ol>
    </nav>
  </div>
</div>
